* {
    margin: 0;
    padding: 0;
}

/* Font  */
body {
    font-family: 'Merriweather', serif;
}

.new-year {

    font-size: 32px;
    font-weight: 2300;
    margin-top: 70px;
    margin-bottom: 15px;
}

.happy {
    font-size: 72px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 50px;
}

.brand {
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #c6e635;
    height: 800px;
    border-radius: 16px;
}

/* For centering the text */
.centered {
    position: absolute;
    text-align: center;
    top: 25%;
    left: 33%;
}

/*  Discount related style */
.discount-info {
    align-items: center;
}

.discount-related {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: red;
    font-size: 50px;
    font-weight: 70px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.discount-more {
    text-align: center;
    color: red;
    font-size: 24px;
    font-weight: 80px;
    margin-top: 0;
    margin-bottom: 50px;
}

.daily {
    text-align: center;
    color: rgb(12, 4, 4);
    font-size: 20px;
    font-weight: 80px;
}

/* For image */
.another-year {
    margin-top: 50px;
    margin-left: 25.4%;
}

.op {
    background-image: url('../resources/Vectorrr.png');
    background-size: cover;
    height: 600px;
    margin-top: 40px;

}

.fine {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.fine .fine-text {
    margin-top: 100px;
}

.fine .pic {
    margin-top: 100px;
    margin-left: 90px;
}


.fine .fine-text h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
}

.fine .fine-text h5 {
    font-size: 20px;
    font-weight: 500;
    color: #FFF;
}

.fine .fine-text * {
    margin-bottom: 40px;
}


.fine .fine-text p {
    color: #FFF;
    font-family: Merriweather;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;

}

/* Schedule related styles */
.schedule {
    color: black;
}

.schedule-initial {
    text-align: center;
    font-size: 25px;
    padding-bottom: 0px;
}

.schedule-related {
    color: red;
    font-size: 25px;
}

.huda {
    margin-top: 100px;
}

.button {
    background: red;
    color: white;
    margin-right: 700px;
    margin-left: 700px;
    padding: 15px 50px;
}

/* New Background */

.soon {
    display: flex;
    margin-top: 100px;
    justify-content: space-evenly;
    align-items: center;
    gap: 200px;
    padding: 100px;
}

.soon .offer-one * {
    margin-bottom: 20px;
}

.soon .soon-two * {
    margin-bottom: 20px;
}

.soon .offer-one p {
    margin-right: 50px;
}

.soon .img img {
    margin-right: 120px;
}

.soon .offer-one h5 {
    color: red;
    font-size: 24px;
    font-weight: 400;
}

.soon .soon-two h3 {
    color: red;
    font-size: 40px;
    font-weight: 700;
}

.gift {
    margin-top: 20px;
    margin-left: 100px;
}

.gift .text * {
    margin-bottom: 22px;
}

.gift .text h4 {
    color: red;
}

.gift .text h1 {
    color: black;
    font-size: 48px;
    font-weight: 700;
}

.picture {
    margin-top: 70px;
    margin-left: 210px;

}

.image .profile {
    gap: 50px;
}

/* Subscribe section */
.subscribe {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    margin: 10%;
    padding-top: 200px;
    padding-bottom: 40px;
    height: 616px;
}

.newsletter div {
    margin-bottom: 30px;
}

.newsletter-text {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.newsletter-text2 {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.subscribe .newsletter span {
    width: 648px;
    height: 72px;
    flex-shrink: 0;
}

.connect input[type="text"]{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    margin-left: 30%;
    width: 20%;
    
}
.input .connect{
    display: flex;
}
.btn{
    background-color: red;
    height:50px;
    border: 0;
    border-color: red;
    border-radius: 16px;
    padding: 20px;
    color: #FFF;

}

.footer{
    background: black;
    height: 600px;
    color: white;
    
}
.footer-area .footer-text{
    display: flex;
    justify-content: space-between;
    padding: 10%;
}

